body{
  background-image: url(./images/bg-desktop.svg);
  background-color:  hsl(228, 45%, 44%);
  background-repeat: no-repeat;
  width: 1440px;
  height: 800px;
  

  /*position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  object-fit: cover;*/
}

.header-logo{
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.hero{
  height: 600px;
  display: flex;
  align-items: center;
  
}

.hero-image{
  padding:15px 0 0 15px;
}

.hero-content{
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding:200px 0 0 0px;
}
.hero-content-title{
  font-family: Poppins,sans-serif;
  line-height: 60px;
  font-weight: normal;
  text-align: left;
  color: white;
  font-size: 50px;
  padding:0 0px 30px 0;
  margin: 0;
   
}

.hero-content-paragraph{
  font-family: Open Sans,sans-serif;
  text-align: left;
  color: white;
  font-size: 23px;
  padding:0 0px 30px 0;
  margin: 0;
}




.register-button{
  font-family: Open Sans,sans-serif;
  font-size: 25px;
  color: hsl(228, 45%, 44%);
  background-color: white;
  padding:12px 55px ;
  border: 1px solid white;
  border-radius: 60px;
  box-shadow: 2px 2px 5px rgb(66, 66, 66);
}

.fooder{
  color: white;

  
}
.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-link{
  font-size: 24px;
  color: white;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;

}

.fa-stack{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 50px 50px;
}


@media only screen and (max-width: 375px){
  body{
    background-image: url(./images/bg-mobile.svg);
    width: 375px;
    height: 800px;
    margin: 0;
    padding: 0;

    }

  .header-logo{
    margin: 0px 90px 8px 35px;
    padding: 0;
  }

  header img{
    width:50%;
    margin: 0;
    padding: -2px 0 0 0;
  }

  .hero{
    display: flex;
    flex-direction: column;
    
  }

  .hero-imageContainer{
    margin: 15px 36px;
    padding: 0;
  }

  .hero-image{
    width:100%;
    margin: 0;
    padding: 0;

  }

  .hero-content{
    width:78%;
    padding: 30px 0;
    display: flex;
    align-items: center;
  }


  .hero-content-title{
    line-height: 28px;
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 20px 0;
    
  }

  .hero-content-paragraph{
    font-family: Open Sans,sans-serif;
    text-align: center;
    color: white;
    font-size: 15.5px;
  }


  .register-button{
    font-size: 12px;
    padding:8px 70px ;
    border: 0;
  }

  .fooder{
    width:100%;
    padding: 0;
  }

  .social{
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    padding: 0;
  }

  .social-link{
    margin: 0;
    padding: 0;
    width: 40px;
  }

  .fa-stack{
    transform: scale(0.55);
  }

  }